#container-a{
    display: flex;
    margin: 0%;
    height: 8vw;
    width: 55vw;
    position: absolute;
    top: 85%;
    left: 32%;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
}